.container {
  text-align: center;
  width: 80%;
}

.content-box {
  background-color: #eeeeee73;
  border-radius: 10px;
  padding: 3em;
  margin: 2em auto;
}

.project-icon {
  display: inline-block;
  margin-bottom: 4em;
  max-width: 50%;
}

.project-icon img {
  height: 250px;
}

#footer {
  background-color: #444;
  color: #ccc;
  padding: 2em;
  text-align: right;
}

/** NAVBAR **/
.navbar {
  text-transform: uppercase;
  margin-bottom: 0px;
}

.navbar-inverse {
  padding-bottom: 0;
  padding-top: 70px;
}

.navbar-inverse {
  background-color: #539AD0;
  border-color: #e0e0e0;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #222222;
}

.navbar-brand {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

@media (max-width: 768px) {
  .navbar-collapse, navbar-inverse {
    background-color: #cad4dc;
    border-color: #e0e0e0!important;
  }
}

/** ABOUT PAGE **/
.progress-bar-theme {
  background-color: #1abc9c;
}
